<div class="what">
  <div class="banner-tracks-container">
    <span class="hidden-title"><%= title 'Tracks' %></span>
    <%= render 'navbar' %>
    <h2 class="banner-tracks-title">
      Tracks
    </h2>
  </div>
  <div class="tracks-content-container">
    <% @tracks.each do |track| %>
      <div class="track-card">
        <div class="track-artwork">
          <%= image_tag(track.artwork, height: "200", width: "200", alt: track.title) %>
        </div>
        <div class="track-info">
          <div class="track-title">
            <%= link_to track_path(track), :action => 'go' do %>
              <%= track.title %>
            <% end %>
          </div>
          <div class="track-genre">
            <%= track.genre %>
              •
            <%= track.date.to_s[0..3] %>
          </div>
          <%= link_to track_path(track), :action => 'go', class: "track-button" do %>
            <i class="fas fa-volume-up"></i>
            Listen
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <%= render 'footer' %>
  </div>
</div>
