<div class="what">
  <div class="banner-events-container">
    <span class="hidden-title"><%= title @event.title + ', ' + @event.venue + ', ' + @event.date.to_s %></span>
    <%= render 'navbar' %>
    <h2 class="banner-events-title">
      Events
    </h2>
  </div>
  <div class="singletrack-content-container">
    <div class="back-button">
      <%= link_to "< Back", events_url  %>
    </div>
    <div class="singletrack-content-header">
      <div class="singletrack-artwork">
        <%= image_tag(@event.artwork, height: "400", width: "400", alt: @event.title) %>
      </div>
      <div class="singletrack-info">
        <h3 class="singletrack-title">
          <%= @event.title %>
        </h3>
        <div class="singletrack-genre">
          <%= image_tag(@event.country, height: "40", width: "40", alt: @event.country) %>
            •
          <%= @event.venue %>
            •
          <%= @event.date %>
        </div>
        <div class="singletrack-content-description">
          <%= @event.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <%= render 'footer' %>
  </div>
</div>
